*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


body{
        height: 100vh;
        width: 100vw;


        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;

}


#calendar{
    position: relative;
   
    top: 5%;
    height: 70vh;
    width: 80vw;


}

/* Altera a cor das setas "next" e "prev" do calendário */
/* Altera a cor de fundo do cabeçalho do calendário para verde */


/* Altera a cor do texto dos eventos para branco */
.fc-event {
  color: #fff;
}

/* Altera a cor de fundo dos eventos para verde */
.fc-event {
  background-color: #28a745;
  border-color: #28a745;
}

/* Altera a cor de fundo do dia atual para verde */
.fc-day-today {
  background-color: #d4edda; /* Uma tonalidade mais clara de verde */
}

/* Altera a cor de fundo do dia selecionado para verde */
.fc-day-selected {
  background-color: #c3e6cb; /* Uma tonalidade mais clara de verde */
}
/* Altera a cor de fundo e a cor do texto dos botões do FullCalendar para verde */
.fc .fc-button {
  background-color: #28a745; /* Verde */
  border-color: #28a745; /* Verde */
  color: #fff; /* Texto branco */
}

/* Altera a cor de fundo dos botões do FullCalendar para verde quando hover */
.fc .fc-button:hover {
  background-color: #218838; /* Verde mais escuro */
  border-color: #1e7e34; /* Verde mais escuro */
  color: #fff; /* Texto branco */
}

#calendar .fc-header-toolbar .fc-button-primary {
  background-color: #28a745; /* Verde */
  border-color: #28a745; /* Verde */
  color: #fff; /* Texto branco */
}

/* Altera a cor de fundo dos botões de navegação do FullCalendar para verde quando hover */
#calendar .fc-header-toolbar .fc-button-primary:hover {
  background-color: #218838; /* Verde mais escuro */
  border-color: #1e7e34; /* Verde mais escuro */
  color: #fff; /* Texto branco */
}

.modal-dialog{
    height: 120px;
    width: 600px;
    top: 20%;

}


.btn-close{
  position: absolute;
  top: 5px;
  right: 5px;

}

.mmodal-content{
  border-radius: 0px;
  max-height: 80vh; /* Defina a altura máxima desejada para o modal */
  overflow-y: auto;
}


.modal-footer{

  background-color: #1e7e34;
  height: 45px;


}


a{
  text-decoration:none;

  color: #1e7e34;
  

  background-color: white;
}


.cabecalho{

    height: 120px;
    background-color: #1e7e34;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;


    flex-direction: row;

    border-bottom: 3px solid black;
}

.titulo{

  color: white;
}


.fc-daygrid-event-harness{

  transition: 1s;

}
.fc-daygrid-event-harness:hover{
  transition: 1s;
  cursor:pointer;
  transform: scale(1.05);



}

.fc-daygrid-event-harness:hover .fc-event-title{
    color: black;
}

.fc-day .fc-day-event{
  border: 2px solid black;
  background-color: transparent !important;
}

.fc-daygrid-day-frame{

  border: 2px solid green;
  border-radius: 5px;

  background-size: cover;
  
}.fc-daygrid-day-frame:hover{
  transition: 1s ease-in-out;
    transform: scale(1.04);
  cursor: pointer;

}


.fc-daygrid-day-number{

  background: none;
  border: none;

}



.day-select {
  
  z-index: 1;
 background-color: rgb(238, 250, 225); /* Começa sem outline */
  transition:  0.1s ease-in-out; /* Adiciona uma transição de 0.2 segundos */
  box-sizing: border-box; /* Faz com que o outline não afete o tamanho do elemento */
  padding: 2px; /* Adiciona um padding para garantir que o outline não interfira com o conteúdo */
}



thead{
  background-color: #1e7e34;

}

.fc-col-header-cell-cushion{
  background: none;
  color: white;
}


.horario-container{
  height: 80px;
  width: 95%;
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

.modal-title{

 font-size: 50px;
 font-weight: 100px;

}


.hour-title{

  font-size: 20px;
  color: #1e7e34;
  font-weight: 200px;
  border-bottom: 2px solid #1e7e34;

}

.horario-container strong{

  margin-left: 15px;


}

.conthr{

  height: 60px;
  width: 95%;
  border: 2px solid #1e7e34;
  margin-bottom: 5px ;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.icon_clock{

    height: 25px;
    width: 25px;

}

.if_logo {
  position: absolute;
  height: 30px;
  width: auto;
  left: 15px; 
}


.fc-event-time{

  display: none;

}