*{

    margin:0;
    padding: 0;
    box-sizing: border-box;

}


body{
        height: 100vh;
        width: 100vw;


        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;

}


#calendar{

   

    height: 0 auto;
    width: 1100px;


}

/* Altera a cor das setas "next" e "prev" do calendário */
.fc-icon-prev, .fc-icon-next {
  color: red; /* Substitua "red" pela cor desejada */
}



.fc-next-button.btn.btn-primary{

  background-color: white;
}